<form action="/learn" method="post">
  github username:<br>
  <input type="text" name="github"><br><br>
  <input type="submit" value="Submit">
</form>


<h1>THIS IS YOUR FULLNAME</h1>
<p><%=@answer %></p>
<!-- <div> <img src="https://tse1.mm.bing.net/th?id=OIP.M8932e043f784b8c3b22e73dcf2dfaec8o0&pid=Api"></div> -->
